<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- link font awasome -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- fine link font awasome -->
    <title>Corosello vue</title>
  </head>
  <body>
    <div id="app">
      <main>
        <div
          class="slider"
          @mouseenter="mouseEnterSlider()"
          @mouseleave="mouseLeaveSlider()"
        >
          <div class="slides">
            <!-- Soluzione con v-for ---
              <div
              class="slide"
              v-for="(singleImage, index) in slides"
              :class="(currentSlide == index) ? 'active' : ''"
            >
              <img :src="singleImage.image" :alt="singleImage.title" />
              <div class="texts">
                <h3>{{singleImage.title}}</h3>
                <p>{{singleImage.text}}</p>
              </div>
            </div> -->

            <!-- Soluzione con l'accesso all'elemento dell'array -->
            <div class="slide active">
              <img
                :src="slides[currentSlide].image"
                :alt="slides[currentSlide].title"
              />
              <div class="texts">
                <h3>{{slides[currentSlide].title}}</h3>
                <p>{{slides[currentSlide].text}}</p>
              </div>
            </div>
          </div>
          <div class="thumbnails">
            <!-- Sintassi alternativa per aggiunta classe active --
              <div
              class="thumbnail"
              :class="(currentSlide == index) ? 'active' : ''"
              v-for="(singleThumbnail, index) in slides"
              :style="'height: ' + (100 / slides.length) + '%'"
            >
              <img :src="singleThumbnail.image" :alt="singleThumbnail.title" />
            </div> -->

            <div
              class="thumbnail"
              @click="currentSlide = index"
              v-for="(singleThumbnail, index) in slides"
              :class="{'active' : (currentSlide == index)}"
              :style="'height: ' + (100 / slides.length) + '%'"
            >
              <img :src="singleThumbnail.image" :alt="singleThumbnail.title" />
            </div>
            <!-- La thumbnail cambia al click impostando currentSlide a index -->
          </div>
          <div class="controls">
            <span class="prev" @click="prevSlide()"
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
            <span class="next" @click="nextSlide()"
              ><i class="fa-solid fa-chevron-down"></i
            ></span>
          </div>
        </div>
      </main>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
