* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}

.slider {
  width: 80%;
  height: 60%;
  background-color: brown;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slider .slides {
  width: 80%;
  height: 100%;
  background-color: aquamarine;
}

.slider .slides .slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.slider .slides .slide.active {
  display: block;
}

.slider .slides .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slides .slide .texts {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.363);
  text-align: right;
  color: #fff;
  padding: 30px;
}

.slider .thumbnails {
  width: 20%;
  height: 100%;
  background-color: rgb(112, 65, 241);
}

.slider .thumbnails .thumbnail {
  width: 100%;
  min-height: 1%;
  filter: brightness(40%);
}

.slider .thumbnails .thumbnail.active {
  filter: brightness(100%);
  border: 4px solid #fff;
}

.slider .thumbnails .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .controls span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  position: absolute;
  right: 10%;
  transform: translateX(50%);
  transition: all 0.2s ease-in-out;
}

.slider .controls span:hover {
  background-color: rgba(255, 255, 255, 1);
}

.slider .controls span.prev {
  top: 10px;
}

.slider .controls span.next {
  bottom: 10px;
}
